/* *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

body { 
    text-align: center;
}
.parent { 
    width: 1200px;
    height: 1200px;
    /* grid-template-columns: auto; */
}
/* .gridRow { 
    margin-top: 0px;
    padding-top: 0px;
} */
#container { 
    display: inline-grid;
    height: 500px;
    width: 500px;
    margin: 0px;
    padding: 0px;
}
.cell { 
    height: auto;
    width: auto;
    border: 1px solid black;
}
/* button { 
    border-radius: 5px;
    border-style:solid;
} */